@media screen and (min-width:320px) {
a{
 text-decoration: none;
}
a:hover{
 text-decoration: none;
}

.container-produtos{
 display: block;
 float: left;
 width: 100%;
 margin-top: 30px;
 margin-bottom: 30px;
}

.container-slide{
 display: block ;
 float: left;
 width: 100%;
 margin-bottom: 20px;	
}
.border-item-produto{
 float: left;
 width: 100%;
 padding: 0 10px;

}
.item-produto{
 float: left;
 width: 100%;
 background: #fff;
 border-radius: 10px;
 padding: 10px 0px 10px 0px;
 box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
 margin-bottom: 20px;	
}
.item-produto img{
 padding: 0 20px;
 padding-top: 0px;
 margin-bottom: 20px;
}
.item-produto p{
 color: #014d8f;
 font-size: 18px !important;
 font-weight: bold;
 text-align: left;
 padding-bottom: 20px;
 margin-left: 15px;
}
#preco{
 color: #333;
 font-size: 22px !important;
 text-align: left;
 font-weight: bold;
 padding-bottom: 3px;
 margin-left: 15px;
}
#nomeProduto{
 color:#949595;
 font-size: 13px !important;
 min-height: 55px;	
}
.button-sacola a{
 float: left;
 width: 100%;
 font-size: 20px;
 color: #fff;
 background: #014d8f;
 padding: 8px 20px;
 border-radius: 5px;
 font-weight: bold;
 text-decoration: none;	
 text-align: center;
 box-shadow: rgba(0, 0, 0, 0.2) 3px 4px 6px 1px;
}
.button-sacola a:hover{
 background: #014d8fed;
 text-decoration: none;
}

/********************************/

.w3-display-left{
 position: absolute !important;
 top: 55% !important;
 margin-left: 15px !important;
}
.w3-display-right {
 position: absolute !important;
 top: 55% !important;
 margin-right: 15px !important;
}

/*MENU DROP ORDEM PRODUTOS*/
.category_listfiltro {
 float: left;
 display: inline-block;
}
.dropbtnfiltro {
 color: #014d8f;
 font-size: 15px;
 background: transparent;
 margin-top: 15px;
 font-weight: bold;
 cursor: pointer;
 border-radius: 5px;
 margin-bottom: 2px;
}

.dropdown-contentfiltro {
 display: none;
 position: absolute;
 background-color: transparent;
 border-bottom: 2px;
 background-color: #fff;
 min-width: 185px;
 border-radius: 5px;
 padding: 0px 0;
}

.dropdown-contentfiltro a {
 color: black;
 color: #333;
 padding: 12px 16px;
 border-left: 2px solid #014d8f;
 border-bottom: 1px solid #c4c4c4;
 text-decoration: none;
 display: block;
}
#icon-drop{ color: #014d8f; margin-left: 10px; }

.dropdown-contentfiltro a:hover {color: #3887f5; border-left: 2px solid #3887f5;}

.category_listfiltro:hover .dropdown-contentfiltro {
    display: block;
}

.dropdown:hover .dropbtnfiltro {
}

}

/* PARA PC **/
@media screen and (min-width:1025px) {

.container-produtos{
 display: block;
 float: left;
 width: 100%;
 margin-top: 30px;
 margin-bottom: 30px;
 min-height: 520px;
}
.border-item-produto{
 float: left;
 width: 25%;
 padding: 0 10px;
 max-width: 300px !important;
}
.item-produto{
 float: left;
 width: 100%;
 background: #fff;
 border-radius: 10px;
 box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
}
.item-produto img{
 padding: 0 20px;
 padding-top: 0px;
 margin-bottom: 20px;
 min-height: 224px;
 max-height: 225px;
}
.item-produto p{
 color: #014d8f;
 font-size: 16px !important;
 font-weight: bold;
 text-align: left;
 padding-bottom: 10px;
 margin-left: 15px;
}
#preco{
 color: #333;
 font-size: 18px !important;
 text-align: left;
 font-weight: bold;
 padding-bottom: 3px;
}
.item-produto:hover{
 box-shadow: 2px 5px 6px 3px rgba(0,0,0,.1);
}

.button-sacola a{
 float: left;
 width: 100%;
 font-size: 20px;
 color: #fff;
 background: #014d8f;
 padding: 8px 20px;
 border-radius: 5px;
 font-weight: bold;
 text-decoration: none;	
 text-align: center;
 box-shadow: rgba(0, 0, 0, 0.2) 3px 4px 6px 1px;
}
.button-sacola a:hover{
 background: #014d8fed;
}

/********************************/

.w3-display-left{
 position: absolute !important;
 top: 55% !important;
 margin-left: 95px !important;
}
.w3-display-right {
 position: absolute !important;
 top: 55% !important;
 margin-right: 95px !important;
 	
}


}

/* PARA PC **/
@media screen and (min-width:1400px) {
.border-item-produto{
 width: 25%;
}
.item-produto p{
 font-size: 16px !important;
}
#preco{
 font-size: 22px !important;
}

}

