<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>

                <rule name="RewriteUserFriendlyURL1" stopProcessing="true">
                    <match url="^produtos/pesquisa$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="produtos/pesquisa.php" />
                </rule>

                <rule name="RewriteUserFriendlyURL2" stopProcessing="true">
                    <match url="^produtos/mmp$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="produtos/mmp.php" />
                </rule>

                <rule name="RewriteUserFriendlyURL3" stopProcessing="true">
                    <match url="^produtos/itens-pedido$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="produtos/itens-pedido.php" />
                </rule>

                <rule name="RewriteUserFriendlyURL4" stopProcessing="true">
                    <match url="^usuario/registro$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="usuario/registro.php" />
                </rule>

                <rule name="RewriteUserFriendlyURL5" stopProcessing="true">
                    <match url="^usuario/login$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="usuario/login.php" />
                </rule>

                <rule name="RewriteUserFriendlyURL6" stopProcessing="true">
                    <match url="^produtos/typeaccount$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="produtos/typeaccount.php" />
                </rule>

                <rule name="RewriteUserFriendlyURL7" stopProcessing="true">
                    <match url="^usuario/typeaccount$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="usuario/typeaccount.php" />
                </rule>

                <rule name="RewriteUserFriendlyURL8" stopProcessing="true">
                    <match url="^produtos/itens-pedido$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="produtos/itens-pedido.php" />
                </rule>

                <rule name="RewriteUserFriendlyURL9" stopProcessing="true">
                    <match url="^produtos/busca$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="produtos/busca.php" />
                </rule>


               <!-- MENU DO CLIENTE -->

                <rule name="RewriteUserFriendlyURL10" stopProcessing="true">
                    <match url="^usuario/minha-conta$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="usuario/minha-conta.php" />
                </rule>

                <rule name="RewriteUserFriendlyURL11" stopProcessing="true">
                    <match url="^usuario/meus-pedidos$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="usuario/meus-pedidos.php" />
                </rule>

                <rule name="RewriteUserFriendlyURL12" stopProcessing="true">
                    <match url="^usuario/alterar-senha$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="usuario/alterar-senha.php" />
                </rule>

                <rule name="RewriteUserFriendlyURL13" stopProcessing="true">
                    <match url="^usuario/meus-dados$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="usuario/meus-dados.php" />
                </rule>

                <rule name="RewriteUserFriendlyURL14" stopProcessing="true">
                    <match url="^usuario/meu-endereco$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="usuario/meu-endereco.php" />
                </rule>

                <rule name="RewriteUserFriendlyURL15" stopProcessing="true">
                    <match url="^usuario/logout$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="usuario/logout.php" />
                </rule>

                <rule name="RewriteUserFriendlyURL16" stopProcessing="true">
                    <match url="^usuario/detalhes-pedido$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="usuario/detalhes-pedido.php" />
                </rule>

                <rule name="RewriteUserFriendlyURL17" stopProcessing="true">
                    <match url="^blog/post$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="blog/post.php" />
                </rule>

                <rule name="RewriteUserFriendlyURL18" stopProcessing="true">
                    <match url="^produtos/destaques$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="produtos/destaques.php" />
                </rule>

                <rule name="RewriteUserFriendlyURL19" stopProcessing="true">
                    <match url="^produtos/novidades$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="produtos/novidades.php" />
                </rule>

                <rule name="RewriteUserFriendlyURL20" stopProcessing="true">
                    <match url="^produtos/promocao$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="produtos/promocao.php" />
                </rule>

                <rule name="RewriteUserFriendlyURL21" stopProcessing="true">
                    <match url="^produtos/tabela-cores$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="produtos/tabela-cores.php" />
                </rule>

                <rule name="RewriteUserFriendlyURL22" stopProcessing="true">
                    <match url="^usuario/password/esqueci-senha$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="usuario/password/esqueci-senha.php" />
                </rule>

                <rule name="RewriteUserFriendlyURL23" stopProcessing="true">
                    <match url="^usuario/password/nova-senha$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="usuario/password/nova-senha.php" />
                </rule>


            </rules>
        </rewrite>
    </system.webServer>
</configuration>
